@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;350;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --white: #222;
  --palewhite: #444;
  --shadow: #aaa;
  --coral: #F2490C;
  --accent: #d5ff80;
  --darkerergrey: #a1c0dd;
  --darkergrey: #b4cde5;
  --darkgrey: #c1d3e9;
  --grey: #d8eafe;
  --lightgrey: #edf1f6;
  --lightergrey: #f7fafb;

  --background: var(--darkergrey);
  --activenode: var(--lightgrey);
  --upcomingnode: var(--grey);
  --theader: var(--coral);
  --checkicon: var(--coral);

  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--palewhite);
}

body.darkmode {
  --white: #e4e4e4;
  --palewhite: #c8c8c8;
  --shadow: #222;
  --coral: #F2490C;
  --accent: #d5ff80;
  --darkerergrey: #141820;
  --darkergrey: #161c28;
  --darkgrey: #1a202c;
  --grey: #242936;
  --lightgrey: #2d3848;
  --lightergrey: #3a4556;
}

input, select, textarea, button {
  font-family: inherit;
}

.icon-valign {
  vertical-align: middle;
  margin: 0 0.5em;
}

.topbar {
  overflow: hidden;
  background-color: var(--grey);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--coral);
  text-shadow: 2px 2px 1px var(--shadow);
  z-index: 999;
}

.top-title svg,
.clock svg {
  filter: drop-shadow(2px 2px 1px var(--shadow));
}

.topbar-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

.top-title {
  width: 33%;
  font-size: 20px;
  font-weight: bold;
  padding-left: 1em;
}

.top-title span:first-of-type{
  color: var(--coral);
}

.clock {
  width: 33%;
  text-align: center;
  /* padding-right: 1.5em; */
  font-size: 20px;
  font-weight: 400;
}

.clock span:first-of-type{
  color: var(--coral);
  margin-right: 0.25em;
}

.clockTime {
  font-weight: 700;
}

.dark-toggle-flex {
  width: 33%;
  padding-right: 1.5em;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}

.dark-toggle-wrapper {
  height: 35px;
}

.dark-mode-toggle.react-toggle .react-toggle-track,
.dark-mode-toggle.react-toggle--checked .react-toggle-track,
.dark-mode-toggle.react-toggle .react-toggle-track-x {
 font-size: 16px;
}

.dark-mode-toggle.react-toggle .react-toggle-track-check,
.dark-mode-toggle.react-toggle--checked .react-toggle-track-check,
.dark-mode-toggle.react-toggle .react-toggle-track-x {
  margin-top: 0px;
}

.dark-mode-toggle.react-toggle .react-toggle-track-x{
  left: 18px;
  top: 4px;
}

.dark-mode-toggle.react-toggle--checked .react-toggle-track-check {
  left: -4px;
top: 4px;
}

.dark-mode-toggle.react-toggle .react-toggle-track{
  background-color: var(--darkergrey);
}

.dark-mode-toggle.react-toggle:hover .react-toggle-track{
  background-color: var(--darkerergrey) !important;
}

.dark-mode-toggle.react-toggle--checked .react-toggle-track{
  background-color: var(--darkergrey);
}

.dark-mode-toggle.react-toggle--checked:hover .react-toggle-track{
  background-color: var(--lightergrey) !important;
}

.dark-mode-toggle.react-toggle--checked .react-toggle-thumb{
  border: 1px solid var(--coral);
  background-color: var(--white);
}
.dark-mode-toggle.react-toggle--focus .react-toggle-thumb{
  box-shadow: none;
}

/* main container */

.main {
  padding-top: 50px;
}

.wrapper {
  width: 1200px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

header h1{
  font-size: 15px;
  font-weight: 400;
  color: var(--white);
  margin: 2em auto;
}

div.footer {
  width: 1200px;
  height: 50px;
  line-height: 50px;
  margin: 2em auto;
  margin-bottom: 0;
  text-align: center;
  background-color: var(--darkerergrey);
  color: var(--palewhite);
  border: 1px solid var(--grey);
  border-bottom: none;
  border-radius: 4px;
}

div.footer a, div.footer a:hover, div.footer a:visited {
  color: var(--coral);
}

/* search elements */

div.search {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1000px;
  margin-bottom: 3em;
}

div.searchBar {
  width: 100%;
}

div.search input[type=text] {
  width: 100%;
  padding: 0.75em;
  margin: 0.5em 0;
  border: 1px solid var(--grey);
  border-radius: 4px;
  background-color: var(--darkerergrey);
  color: var(--palewhite);
  font-size: 16px;
}

div.search input[type=text]:focus {
  outline: none !important;
}

div.search fieldset {
  width: 49.5%;
  color: var(--palewhite);
  background-color: var(--darkgrey);
  padding: 0.75em;
  border: 1px solid var(--grey);
  border-radius: 4px;
  margin: 0.5em 2px;
  font-size: 13px
}

div.search legend {
  padding: 0 0.5em;
}

.custom-checkbox {
  margin-right: 0.5em ;
  --fa-inverse: var(--coral);
}

.custom-checkbox span.checked{
  margin: 0;
  padding: 0;
}

.custom-checkbox .checked, .custom-checkbox .unchecked{
  color: var(--lightergrey);
}

.custom-checkbox input[type="checkbox"], .custom-checkbox .checked {
  display:none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

ul.checkbox-ul{
  margin-left: 15px;
  list-style: none;
}

ul.checkbox-ul li {
  display: inline-block;
}


/* data table */


table#nodes {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--grey);
  border-radius: 4px;
  background-color:var(--darkgrey);
}

table#nodes thead th{
  text-align: left;
  line-height: 24px;
}

table#nodes thead tr{
  background-color:var(--darkgrey);
  color: var(--white);
}

/* active icon */
th.th-active {width: 2%;}

/* item name */
th.th-name {width: 19%;}

/* expansion */
th.th-expansion {width: 4%;}

/* item name */
th.th-level {width: 4%;}

/* active hour */
th.th-start {width: 4%;}

/* location */
th.th-location {width: 22%;}

/* aetheryte */
th.th-teleport {width: 14%;}

/* active every */
th.th-every {width: 3%;}

/* duration */
th.th-for {width: 3%;}

/* type */
th.th-type {width: 6%;}

/* profession */
th.th-job {width: 3%;}

/* scrips */
th.th-scrips {width: 8%;}

/* expires/active in */
th.th-status {width: 9%;}

table#nodes tbody td {
  line-height: 20px;
}

table#nodes th, table#nodes td {
  padding: 5px;
}

table#nodes tr{
  height:24px;
}

tr.active{
  background: var(--activenode);
}

tr.upcoming{
  background:var(--upcomingnode);
}

td.icon-active{
  color: var(--coral);
}

td.icon-inactive svg{
  display: none;
}

td.scrips-white span, td.scrips-purple span {
  margin-left: 0.5em;
}

td.scrips-none svg {
  display: none;
}

td.scrips-purple svg{
  color: #aa47d1;
}
